*{
    box-sizing: border-box;
}
  
body{
    font-family: Roboto;
    background-color: bisque;
}


main{
    margin: 8vw auto;
    background-color: rgba(245, 245, 245, 0.404);
    padding: 1em;
    border-radius: 20px;
    max-width: 800px;

}

h1{
    text-align: center;
}

h1, p{
    font-size: 1rem;
}


footer{
    text-align: right;
    font-family: monospace;
    margin-top: 18vw;
}

@media (max-width : 500px){
    body{
        font-size: 60%; 
    }

    p{
        margin: 5px;
    }
}
